<section class="share">
  <include src="./dropdown.html" title="Comparte" icon="fas fa-share-alt" mainClass="dropdownshare-btn"></include>
  <div class="share-button hidden dropdownsharecontainer dropdowncontainer">
    <button class="share-button__create-card jssharebtn">
      <i class="far fa-address-card share__create card"></i> Crear tarjeta
    </button>
    <div class="share__hidden jssharelinks">
      <p class="share-text jsShareText"></p>
      <a href="" class="jsUrl urlcard" target="_blank"></a>
      <div class="share-button-twitter--container">
        <button class="twitterhidden share-button--twitter jstwitterbutton">
          <a href="" class="jsTwitter twitterlink" target="_blank"> Compartir en twitter</a>
          <i class="fab fa-twitter"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="line-dividing"></div>
</section>