.design {
  @include normal-text() {
  }
  @include tablet() {
  }
}

.design-btn {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.colorcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__title {
    width: 62px;
    height: 19px;
    font-family: $font-main;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-general-text;
  }
  &__Label {
    display: flex;
  }
  &__option {
    transform: translateY(50%);
  }
  &__palette {
    display: flex;
    margin-left: 10px;
  }
  &__square {
    list-style-type: none;
    width: 30px;
    height: 25px;
    margin-bottom: 20px;
    &--color1-1 {
      background-color: $option1-element1;
    }
    &--color1-2 {
      background-color: $option1-element2;
    }
    &--color1-3 {
      background-color: $option1-element3;
    }
    &--color2-1 {
      background-color: $option2-element1;
    }
    &--color2-2 {
      background-color: $option2-element2;
    }
    &--color2-3 {
      background-color: $option2-element3;
    }
    &--color3-1 {
      background-color: $option3-element1;
    }
    &--color3-2 {
      background-color: $option3-element2;
    }
    &--color3-3 {
      background-color: $option3-element3;
    }
    &--color4-1 {
      background-color: $option4-element1;
    }
    &--color4-2 {
      background-color: $option4-element2;
    }
    &--color4-3 {
      background-color: $option4-element3;
    }
  }
}
