.share {
  margin-bottom: 30px;
  @include normal-text() {
  }
}

.share-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__create-card {
    width: 199px;
    height: 50px;
    padding: 13px 18px 13px 17px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    background-color: $color-buttons;
    text-transform: uppercase;
    color: $color-button;
    font-size: 18px;
    font-family: $font-main;
    border: 0;
    margin: 30px 0 30px 0;
    transition: transform 1s ease;
    cursor: pointer;
    &:focus {
      transform: scale(1.1);
      outline: none;
    }
  }
}

.share-btn {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.share-text {
  font-size: 18px;
  color: $color-general-text;
  font-family: $font-main;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 5px;
}

.urlcard {
  text-decoration: none;
  color: $color-accent;
  text-align: center;
}
.share-button-twitter--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share-button--twitter {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: $color-share-button-twitter;
  width: 181px;
  height: 30px;
  padding: 3px 9px 6px 10.5px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, -32);
  color: $color-button;
  font-size: 14px;
  font-family: $font-main;
  border: 0;
  margin: 30px 0 30px 0;
}
.twitterlink {
  text-decoration: none;
  color: $color-button;
}

.fa-twitter {
  width: 18px;
  height: 18px;
  margin: 3px 9.5px 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $color-button;
}

.line-dividing {
  height: 1px;
  background-color: $color-lines;
  margin-top: 5px;
}
.share__hidden {
  display: none;
}

.button-backgroundcolor {
  background-color: gray;
}

.twitterhidden {
  display: none;
}
