<section class="design">
  <include
    src="./dropdown.html"
    title="Diseña"
    icon="far fa-object-ungroup"
  ></include>
  <div class="colorcontainer hidden dropdowncontainer">
    <h3 class="colorcontainer__title">Colores</h3>
    <div class="colorcontainer__colors">
      <label class="colorcontainer__Label">
        <input
          class="colorcontainer__option js-input1 js-palette"
          type="radio"
          name="palette"
          checked
          value="1"
        />
        <ul class="colorcontainer__palette palette-1">
          <li
            class="colorcontainer__square colorcontainer__square--color1-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color1-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color1-3"
          ></li>
        </ul>
      </label>

      <label class="colorcontainer__Label">
        <input
          class="colorcontainer__option js-palette"
          type="radio"
          name="palette"
          value="2"
        />
        <ul class="colorcontainer__palette palette-2">
          <li
            class="colorcontainer__square colorcontainer__square--color2-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color2-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color2-3"
          ></li>
        </ul>
      </label>

      <label class="colorcontainer__Label">
        <input
          class="colorcontainer__option js-palette"
          type="radio"
          name="palette"
          value="3"
        />
        <ul class="colorcontainer__palette palette-3">
          <li
            class="colorcontainer__square colorcontainer__square--color3-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color3-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color3-3"
          ></li>
        </ul>
      </label>
      <label class="colorcontainer__Label">
        <input
          class="colorcontainer__option js-palette"
          type="radio"
          name="palette"
          value="4"
        />
        <ul class="colorcontainer__palette palette-4">
          <li
            class="colorcontainer__square colorcontainer__square--color4-1"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color4-2"
          ></li>
          <li
            class="colorcontainer__square colorcontainer__square--color4-3"
          ></li>
        </ul>
      </label>
    </div>
  </div>
</section>
