// fonts
$font-index: "Merriweather", serif;
$font-principal: "Montserrat", sans-serif;
$font-main: "Open Sans", sans-serif;
// colors
$background-main-index: #f5f5f5;
$color-button-share: #d5d5d5;
$color-buttons: #e17334;
$color-h1-index: #e17334;
$color-text-index: #114e4e;
$color-accent: #e17334;
$color-general-text: #54585a;
$background-button-index: #e17334;
$border-left: #438792;
$color-button: #ffffff;
$color-footer: #6b6b6b;
$background-footer-header: #ffffff;
$gradient-preview: linear-gradient(to bottom, #bfcdd0, #dde9ed);
$gradient-main: linear-gradient(to bottom, #f5f5f5, #ffffff);
$color-form-text: #114e4e;
$color-form-border: #a2deaf;
$color-lines: #d8d8d8;
$color-placeholder: #c5c5c5;
$color-share-button-twitter: #00a0f5;
$backgroundcolor-fullIcon: #fabadac0;
//colors cards
$option1-element1: #114e4e;
$option1-element2: #438792;
$option1-element3: #a2deaf;
$option2-element1: #420101;
$option2-element2: #bd1010;
$option2-element3: #e95626;
$option3-element1: #3e5b65;
$option3-element2: #eab052;
$option3-element3: #a0c0cf;
$option4-element1: #db2763;
$option4-element2: #fabada;
$option4-element3: #fa9f42;
